<nav class="navbar flex-column navbar-light bg-light">
  <a class="navbar-brand" href="/unidades/">MENU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse p-4" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/exames/">Exames</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/exames/busca">Busca por exames</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/exames/ex">Exames Cadastrados</a>
      </li>
    </ul>

  </div>
</nav>