<h1>Lista de medicos</h1>
<a href="/medicos/med">Clique aqui</a>

<h1>Cadastro de Médicos</h1>
    <hr>
    <form action="/medicos/med/insertmed" method="POST">
       <div class="form-control">
        <label for="id"></label>
            <input type="hidden" name="id" placeholder="Digite seu CRM">
        </div>

        <div class="form-control">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Digite seu nome">
        </div>
         <div class="form-control">
        <label for="crm">crm:</label>
            <input type="text" name="crm" placeholder="Digite seu CRM">
        </div>

        <div class="form-control">
            <label for="especialidade">Especialidade:</label>
            <input type="text" name="especialidade" placeholder="especialidade medica">
        </div>
    
       <div class="form-control">
            <label for="telefone">Telefone:</label>
            <input type="number" name="telefone" placeholder="Digite seu telefone">
        </div>

        <div class="form-control">
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" placeholder="Digite seu endereço">
        </div>
        <input type="submit" value="Cadastrar">
    </form>

    <a href="/medicos/med">tabela</a>