
<h1>Bem vindo ao hospital resilia<h1>

  <h3>Veja abaixo a lista de serviços disponiveis:</h3>
  <ul>
    <li><a href="/pacientes/">Pacientes</a></li>
    <li><a href="/consulta/">Consultas</a></li>
    <li><a href="/unidades/">Unidades</a></li>
    <li><a href="/medicos/">Medicos</a></li>
  </ul>