{{> navbar}}

<div class="container-fluid min-vh-100 text-center d-flex flex-column justify-content-center align-items-center">
  <h1>Hospital resilia<h1>
      <h3>Sistema de gerenciamento</h3>
</div>