

<h1>Pesquisa de Consultas por Id</h1>
    <hr>
    <form action="/busc/" method="post">
        
            <input type="text" name="id_consulta" id="id_consulta" placeholder="id_consulta"> <!-- para mudar de id para nome muda o name para nome :) x-->
              
        <input type="submit" value="Buscar">
    </form>
