{{> navbar}}
<div class="container page-margin-top">
  <div class="row">
    <div class="col-2">{{> navUnidades}}</div>
    <div class="col-10">
      <h1>Busca de Unidades</h1>

      <form action="/unidades/busc/" method="post">

        <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ" class="form-control">

        <input type="submit" value="Buscar" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>