<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/unidades/">HGRJ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/unidades/"> Cadastro <span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/unidades/und/busca">Busca pelo CNPJ</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="/unidades/und">Unidades cadastradas</a>
      </li>
    </ul>

  </div>
</nav>

<h1>Editar unidade</h1>
    <hr>
    <form action="unidades/und/updateund" method="POST">

        <div class="form-control">
            <input type="hidden" name="cnpj" id="cnpj" value="{{und.cnpj}}">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Digite o nome da unidade" value="{{und.nome}}">
        </div>

        <div class="form-control">
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" placeholder="Digite o endereço da unidade" value="{{und.endereco}}">
        </div>

        <div class="form-control">
            <label for="telefone">Telefone:</label>
            <input type="number" name="telefone" placeholder="Digite o telefone da unidade" value="{{und.telefone}}">
        </div>
    
        <input type="submit" value="Editar">
    </form>
