{{> navbar}}
<div class="container page-margin-top">
  <div class="row">
    <div class="col-2">{{> navUnidades}}</div>
    <div class="col-10">
      <h1>Editar unidade</h1>
      <hr>
      <form action="unidades/und/updateund" method="POST">

        <div class="form-group">
          <input type="hidden" name="cnpj" id="cnpj" value="{{und.cnpj}}">
          <label for="nome">Nome:</label>
          <input class="form-control" type="text" name="nome" placeholder="Digite o nome da unidade"
            value="{{und.nome}}">
        </div>

        <div class="form-group">
          <label for="endereco">Endereço:</label>
          <input class="form-control" type="text" name="endereco" placeholder="Digite o endereço da unidade"
            value="{{und.endereco}}">
        </div>

        <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input class="form-control" type="number" name="telefone" placeholder="Digite o telefone da unidade"
            value="{{und.telefone}}">
        </div>

        <input class="btn btn-primary px-3 m-3" type="submit" value="Editar">
      </form>
    </div>
  </div>
</div>