{{> navbar}}
<div class="container page-margin-top">
  <div class="row">
    <div class="col-2">{{> navUnidades}}</div>
    <div class="col-10">
      <h1>Unidades cadastradas</h1>

      <div class="list-group">
        {{#each listar}}

        <a href="/unidades/und/{{this.cnpj}}" class="list-group-item list-group-item-action"> {{nome}} - CNPJ: {{cnpj}}
          <br> </a>

        {{/each}}
      </div>
    </div>
  </div>
</div>