
busca.handlebars

<h1>Cadastro de Pacientes</h1>
    <hr>
    <form action="/pacientes/busc/" method="post">
        
            <input type="text" name="id" id="id" placeholder="id">
              
        <input type="submit" value="Buscar">
    </form>
