{{> navbar}}
<h1>Lista de consultas</h1>
    <a href="/consulta/prod">Clique Aqui</a>

<h1>Cadastro da Consulta</h1>
    <hr>
    <form action="/consulta/prod/insertprod" method="POST">
        
        <div class="form-control">
            <input type="hidden" name="id_consulta" id="id_consulta">
            <label for="id_consulta">Id da Consulta: Cadastro Automático</label>
            <!--<input type="number" name="id_consulta" placeholder="não digite aqui">-->
        </div>

        <div class="form-control">
            <label for="crm">CRM:</label>
            <input type="number" name="crm" placeholder="Digite aqui o seu CRM">
        </div>
        <div class="form-control">
            <label for="especialidade">Especialidade:</label>
            <input type="text" name="especialidade" placeholder="Digite a sua especialidade">
        </div>
        <div class="form-control">
            <label for="cpf_cliente">CPF:</label>
            <input type="text" name="cpf_cliente" placeholder="Digite o cpf do paciente">
        </div>
        <div class="form-control">
            <label for="data">Data da consulta:</label>
            <input type="date" name="data" placeholder="">
        </div>
        <div class="form-control">
            <label for="hora">Hora da consulta:</label>
            <input type="time" name="hora" placeholder="">
        </div>
        <div class="form-control">
            <label for="motivo_procura">Motivo da Procura:</label>
            <textarea type="text" name="motivo_procura" placeholder=""></textarea>
        </div>
        <div class="form-control">
            <label for="observacao_medico">Observações:</label>
            <textarea type="text" name="observacao_medico" placeholder=""></textarea>
        </div>
        
    
        <input type="submit" value="Cadastrar">
    </form>